* {
    margin: 0;
    padding: 0;
    color: #fff;
}

h1{
    margin-top: 3rem;
}

body {
    text-align: center;
    background-color: #0d0e20;
}

.puntaje {
    display: flex;
    width: 600px;
    margin: 3rem auto 0;
    justify-content: space-between;
    font-size: 2rem;
    font-family: fantasy;
}
.puntaje p {
    width: min-content;
}

#canvas {
    border: 1px solid;
    background-color: #a7a7a7;
}